body {
  font-family: 'Roboto', Helvetica, Verdana;
}

h1, h2, h3, hr {
  color: #0CD2A4;
}


#seccion_inicio {
  background: url(fondo.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#cv_foto {
  border-radius: 50%;
}

.carousel-inner{
  max-width: 300px;
  max-height: 500px;
}

#seccion_inicio h1 {
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

#seccion_inicio h2 {
  font-weight: bold;
}

#seccion_basica {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

#seccion_basica h2{
  font-size: 50px;
  margin-left: -25px;
}

#seccion_basica h3{
  color: #0CD2A4;
}

.wallpaper{
  background-image: url(fondo.jpg);
  height: 75vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

#seccion_sobremi {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

#seccion_sobremi h2{
  font-size: 50px;
}

#lupa {
  margin-top: 5%;
  margin-left: 50%;
  font-size: 200px;
}

#piano {
  max-width: 75px;
  max-height: 75px;
}

#seccion_hobbies .glyphicon {
  font-size: 70px;
}

#seccion_inicio * {
  color: white;
}

#seccion_hobbies {
  background-color: #0CD2A4;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#seccion_hobbies h3 {
  text-decoration: underline;
  color: white;
  padding-left: 20px;
}

#seccion_habilidades {
  background: url(http://i.imgur.com/X3JZ4z9.jpg?1) repeat;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#seccion_educacion {
  background-color: #0CD2A4;
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
}

#seccion_educacion h2, h1, h3{
  color: white;
}

#seccion_skills {
  background: url(http://i.imgur.com/X3JZ4z9.jpg?1) repeat;
  padding: 15px;
  padding-bottom: 50px;
}

#seccion_skills h3 {
  margin-top: 0;
  text-shadow: 0 1px 1px  #787878;
  color: #0CD2A4;
}

#seccion_skills li{
  padding-bottom: 5px;
}

#SK {
  background: white;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin: 20px;
  width: 270px;
  height: 230px;
}

#SK h2{
  color: #0CD2A4;
}

#AS {
  background: white;
  padding: 15px;
  padding-bottom: 72px;
  border-radius: 10px;
  margin: 20px;
  width: 270px;
  height: 230px;
}

#AS h3{
  color: #00C7CD;
}

#OI {
  font-size: 23px;
  background: white;
  padding: 15px;
  padding-bottom: 17px;
  border-radius: 10px;
  margin: 20px;
  width: 270px;
  height: 230px;
}

#OI h3{
  color: #0977C7;
}

#seccion_social {
  background: #0CD2A4;
  padding: 80px;
}

#seccion_social .btn {
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0 2px 5px #787878;
  padding: 20px 40px;
}

#seccion_social .btn:hover {
  background: #4b4b4b;
  color: white;
}

#seccion_social ul {
  list-style-type: none;
  margin: 0;
}

#seccion_social ul li {
  display: inline;
}

#seccion_social ul li a {
  color: white;
}

#seccion_social ul li a:hover {
  text-decoration: none;
  color: white;
}

#seccion_social ul li a:hover i {
  background: #2D373D;
}

#seccion_social .fa {
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin-right: 20px;
}

#seccion_social .fa-twitter {
  padding: 10px 13px;
}

#seccion_social .fa-facebook {
  padding: 10px 20px;
}

#seccion_social .fa-google-plus {
  padding: 10px 7px;
}

#seccion_social ul li a#facebook {
  width: 200;
}

#cv_localizacion {
  text-transform: capitalize;
}

.contac{
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: lighter;
}

#seccion_contacto {
  background: url(http://i.imgur.com/X3JZ4z9.jpg?1) repeat;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#seccion_contacto p {
  font-size: 20px;
}

#seccion_contacto hr {
  color: #0CD2A4;
}

#seccion_contacto .glyphicon {
  font-size: 40px;
}

#seccion_contacto input, #seccion_contacto textarea {
  border-bottom: 2px #0CD2A4 solid;
  background-color: rgba(0, 0, 0, 0.5);
}

#seccion_contacto button {
  border-radius: 10px;
  background: aqua;
}

#copyright {
  text-align: center;
  color: white;
  background: black;
}
